<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/register.css">
</head>
<body>
    <section id="login-section" class="registration-section">
        <div id="escort-title" class="bg-black color-white">
            <h2>Login</h2> 
        </div>
        <div class="form-wrapper">
            <form action="#" method="post" class="registration-form">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required class="form-input">

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required class="form-input">

                <button type="submit" href="#" class="register-button">Login</button>
            </form>
        </div>
    </section>
</body>
</html>

