<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escort Profile</title>
    <link rel="stylesheet" href="css/profile.css">
</head>
<body>
    <section id="escort-profile" class="profile-section">
        <div class="profile-heading">
            <div class="escort-name">
                <h1>Diana</h1>
            </div>          
        </div>
        <div>
            <a href="" id="pay-button" class="big-green-button">Make Payment</a>
        </div>
    </section>
    <section class="profile-section">
        <div id="personal-details">
            <div id="age" class="personal-detail">Age: <span>22</span></div>
            <div id="gender" class="personal-detail">Sex: <span>Female</span></div>
            <div id="location" class="personal-detail">Location: <span>Thika</span></div>
            <div id="phone" class="personal-detail">Phone: <span><a href="tel:+254712345678">+254712345678</a></span></div>
            <div id="status" class="personal-detail">Status: <span>Active</span></div>
        </div>
    </section>
    <section class="profile-section">
        <h3>Pictures</h3>
        <div id="escort-images">
            <div class="image-wrapper">
                <img src="assets/images/escort.jpg" alt="profile-picture" class="profile-picture" id="profile-picture">
            </div>
            <div class="image-wrapper">
                <img src="assets/images/escort.jpg" alt="profile-picture" class="profile-picture" id="profile-picture">
            </div>
            <div class="image-wrapper">
                <img src="assets/images/escort.jpg" alt="profile-picture" class="profile-picture" id="profile-picture">
            </div>
            <div class="image-wrapper">
                <img src="assets/images/escort.jpg" alt="profile-picture" class="profile-picture" id="profile-picture">
            </div>
        </div>
    </section>
    <section id="image-upload" class="profile-section">
        <div class="form-wrapper">
            <form action="#" method="post" id="upload-form">
                <label for="upload-image">Upload Image:</label>
                <input type="file" id="upload-image" name="upload-image" accept="image/*"  placeholder="Choose Image">
                <button type="submit" class="upload-button" id="upload-button">Upload</button>
            </form>
        </div>
    </section>
    <section class="profile-section">
        <div class="services">
            <h1>Services</h1>
        </div>
        <div id=services-wrapper>
            <form action="" id="services-form" method="post">
                <div class="service-item">
                    <input class="service" type="text" id="service1" name="service1" placeholder="Service">
                    <input class="price" type="number" id="price1" name="price1" placeholder="Price in KES">
                </div>
                <div class="service-item">
                    <input class="service" type="text" id="service2" name="service2" placeholder="Service">
                    <input class="price" type="number" id="price2" name="price2" placeholder="Price in KES">
                </div>
                <div class="service-item">
                    <input class="service" type="text" id="service3" name="service3" placeholder="Service">
                    <input class="price" type="number" id="price3" name="price3" placeholder="Price in KES">
                </div>
                <div class="service-item">
                    <input class="service" type="text" id="service4" name="service4" placeholder="Service">
                    <input class="price" type="number" id="price4" name="price4" placeholder="Price in KES">
                </div>
                <div class="service-item">
                    <input class="service" type="text" id="service5" name="service5" placeholder="Service">
                    <input class="price" type="number" id="price5" name="price5" placeholder="Price in KES">
                </div> 
                <div class="service-item">
                    <input class="service" type="text" id="service6" name="service6" placeholder="Service">
                    <input class="price" type="number" id="price6" name="price6" placeholder="Price in KES">
                </div>
                <div class="service-item">
                    <input class="service" type="text" id="service7" name="service7" placeholder="Service">
                    <input class="price" type="number" id="price7" name="price7" placeholder="Price in KES">
                </div>
                <div class="service-item">
                    <input class="service" type="text" id="service8" name="service8" placeholder="Service">
                    <input class="price" type="number" id="price8" name="price8" placeholder="Price in KES">
                </div>
                <div class="service-item">
                    <input class="service" type="text" id="service9" name="service9" placeholder="Service">
                    <input class="price" type="number" id="price9" name="price9" placeholder="Price in KES">
                </div>
                <div class="service-item">
                    <input class="service" type="text" id="service10" name="service10" placeholder="Service">
                    <input class="price" type="number" id="price10" name="price10" placeholder="Price in KES">
                </div>
                <div>
                    <button type="submit" class="big-green-button" id="save-services">Save Services</button>
                </div>
            </form>
        </div>      
    </section>
    <section>
        <div>
            <form action="">
                <button type="submit" class="medium-red-button">DELETE PROFILE</button>
            </form>
        </div>

    </section>
    <br>
    <br>
</body>
</html>